anyio
appdirs
apsw
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator
attrs
audioread
autopep8
Babel
backcall
bcc
beautifulsoup4
beniget
black
bleach
blinker
Brlapi
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
chrome-gnome-shell
click
colorama
command-not-found
cryptography
css-parser
cssselect
cssutils
cupshelpers
cycler
dbus-python
debugpy
decorator
defer
defusedxml
distlib
distro
dnspython
entrypoints
evdev
executing
fastjsonschema
feedparser
ffmpeg-python
filelock
fonttools
fs
future
gast
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-texttospeech
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
hidpidaemon
html2text
html5-parser
html5lib
httplib2
idna
ifaddr
imageio
imageio-ffmpeg
importlib-metadata
ipykernel
ipython
ipython-genutils
jedi
jeepney
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kernelstub
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
librosa
llvmlite
louis
lxml
lz4
macaroonbakery
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mechanize
mistune
more-itertools
moviepy
mpmath
msgpack
multivolumefile
mypy-extensions
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
netifaces
notebook
notebook-shim
numba
numpy
oauth2client
oauthlib
olefile
opencv-contrib-python
opencv-python
outcome
packaging
pandas
pandas-datareader
pandocfilters
parso
pathspec
pexpect
pickleshare
Pillow
pipenv
platformdirs
playwright
ply
pooch
pop-transition
proglog
prometheus-client
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
py7zr
pyasn1
pyasn1-modules
pybcj
pycairo
pychm
pycodestyle
pycparser
pycryptodome
pycryptodomex
pycups
pydbus
pyee
Pygments
PyGObject
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
pyppmd
PyQt5
PyQt5-sip
PyQtWebEngine
pyRFC3339
pyrsistent
PySocks
python-apt
python-dateutil
python-debian
python-dotenv
python-gnupg
python-xlib
pythran
pytz
pyxattr
pyxdg
PyYAML
pyzmq
pyzstd
regex
repolib
repoman
repoze.lru
requests
requests-oauthlib
requests-toolbelt
resampy
Routes
rsa
scikit-learn
scipy
screen-resolution-extra
SecretStorage
selenium
Send2Trash
sessioninstaller
sgmllib3k
six
sniffio
snscrape
sortedcontainers
SoundFile
soupsieve
stack-data
sympy
system76driver
systemd-python
terminado
texttable
threadpoolctl
tinycss2
toml
tomli
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufoLib2
ufw
unicodedata2
uritemplate
urllib3
vboxapi
virtualenv
virtualenv-clone
wadllib
wcwidth
webencodings
WebOb
websocket-client
websockets
wsproto
xdg
xkit
youtube-dl
zeroconf
zipfile-deflate64
zipp
