beautifulsoup4
certifi
charset-normalizer
click
contourpy
cycler
filelock
fonttools
idna
joblib
kiwisolver
lxml
matplotlib
nltk
numpy
packaging
pandas
Pillow
pyparsing
PySocks
python-dateutil
pytz
regex
requests
six
snscrape
soupsieve
textblob
tqdm
urllib3
